/*----------------------------------header.php-----------------------------------*/
/*-------------------Para que el pie quede debajo del contenido----------------------------*/
html{
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 40px;
  }
  
/*----------------------------------footer.php-----------------------------------*/
div.footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}
/*-------------------Para que el pie quede debajo del contenido----------------------------*/

header{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Big Shoulders Stencil Display', cursive;
    background-color:#A895C1;
    border: 1px solid;
}

header h1{
    font-size: 40px;
}

img.avatar{
    height: 30px;
    width: auto;
}

/*------NAV BAR------*/
.navHeader{
    background-color:#CDC3DA;
}

i{
    color: #7650A6;
    font-size: 25px;
}

p.horaIni{
    color:#331856;
    font-size: 20px;
    font-family: 'Castoro', serif;
    margin-right: 10px;
    margin-top: 4px;
}

a.sesion,button.adminUser, a.adminUser {
    font-family: 'Castoro', serif;
}

div.adminUser{
    text-align: left;
}
/*------FIN NAV BAR------*/



/*----------------------------------loginView.php-----------------------------------*/
body.body-login{
    width: 100%;
    height: 100%;
    background: url("../img/fondo.jpg") center center no-repeat fixed; 
    margin-bottom: 40px;
}

li.login{
    list-style-type:none;
}

.centrar{
    width: 90%;
    height: 100%;
    max-width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;  
    background-color: #A895C1; 
    border: 3px solid;
    border-radius: 15%;
    padding: 25px;
}

.datos {
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*----------------------------------HomeView.php------------------------------*/
h1.home{
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

img.homeim{
    border: black 1px solid;
    max-width: 900px;
    width: 100%;
    margin-bottom: 40px;;
}

/*----------------------------------editView.php------------------------------*/
div.formEdit{
    margin-bottom: 50px;
}

form.formEdit{
    width: 90%;
    height: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;  
    background-color:#CDC3DA; 
    border: 3px solid;
    border-radius: 40px;
    padding: 50px;
    font-weight: bold;
}

/*----------------------------------passwordView.php------------------------------*/

div.passwordForg{
    width: 100%;
    height: 100%;
    max-width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; 
    padding: 25px;
    text-align: center; 
    background-color: #A895C1; 
    border-radius: 40px;
    font-weight: bold;
}

/*----------------------------------AdminListUserView.php------------------------------*/
div.listUser{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 50px;
}

div.tablaListUser{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: auto;
    text-align: center;
}

thead.listUser{
    background-color:#CDC3DA;
    text-align: center;
    color:#331856;
}

div.buscarListUser{
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 10px; 
    border-radius: 40px;
    font-weight: bold;
    font-size: 13px;
}

fieldset.scheduler-border {
    border: #331856 1px solid;
    border-radius: 25px;
    margin: 0 0 10px 0 !important;
    padding: 0 10px 10px 0!important;
    background-color: #CDC3DA;
}

legend.scheduler-border {
    font-size: 17px !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
} 

label.blu{
    margin-right: 10px;
}

input.blu, select.blu{
    width: 200px;
}

h2.blu{
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 20px;
    color: black;
}

a.listUser{
    padding-left: 5px;
}



td.inactivo{
    background-color: #C88E8E ;
}

td.activo{
    background-color:#B8E479;
}

button.activate{
    background-color:#CDC3DA;
    color: black;
    width: 100px;
}

a.pag{
    background-color:#A895C1 ;
    color: #3A2154;
    font-weight: bold;
    border: 1px solid #7650A6;
}

a.page-item-selected{
    background-color: #F0EBF5 ;
}

button.eleccionPag{
    background-color:#A895C1 ;
    color: #3A2154;
    font-weight: bold;
    border: 1px solid #7650A6;
    margin-left: 10px;
}

td.errorTable{
    background-color: #C88E8E;
    font-weight: bold;
    color: white;
}


/*----------------------------------AdminEditUserView.php------------------------------*/
div.formAdminEU{
    margin-bottom: 50px;
}

form.formAdminEdit{
    width: 70%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;  
    background-color:#CDC3DA; 
    border: 3px solid;
    border-radius: 40px;
    padding: 50px;
    font-weight: bold;
}

h2.recordatorio{
    color: white;
    background-color: sandybrown;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*----------------------------------ListActivitiesView.php------------------------------*/
div.listUser{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 50px;
}

table.tablaListActivities{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    overflow-x: auto;
    overflow-y: auto;
    text-align: center;
}

div.buscarListAct{
    text-align: center;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 10px; 
    border-radius: 40px;
    font-weight: bold;
    font-size: 13px;
}

nav.pagAct{
    margin-left: 12%;
}

/*----------------------------------EditActivitiesView.php------------------------------*/
form.formAdminEdit{
    width: 70%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;  
    background-color:#CDC3DA; 
    border: 3px solid;
    border-radius: 40px;
    padding: 50px;
    font-weight: bold;
}

h2.recordatorio{
    color: white;
    background-color: sandybrown;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}