/*----------------------------------header.php-----------------------------------*/
/*-------------------Para que el pie quede debajo del contenido----------------------------*/
html{
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 40px;
  }
  
/*----------------------------------footer.php-----------------------------------*/
div.footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}
/*-------------------Para que el pie quede debajo del contenido----------------------------*/

header{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Big Shoulders Stencil Display', cursive;
    background-color:#A895C1;
    border: 1px solid;
}

header h1{
    font-size: 40px;
}

/*------NAV BAR------*/
.navHeader{
    background-color:#CDC3DA;
}

i{
    color: #7650A6;
    font-size: 25px;
}

p.horaIni{
    color:#331856;
    font-size: 20px;
    font-family: 'Castoro', serif;
    margin-right: 10px;
    margin-top: 4px;
}

a.sesion{
    font-family: 'Castoro', serif;
}
/*------FIN NAV BAR------*/



/*----------------------------------loginView.php-----------------------------------*/
body.body-login{
    width: 100%;
    height: 100%;
    background: url("../img/fondo.jpg") center center no-repeat fixed; 
    margin-bottom: 40px;
}

li.login{
    list-style-type:none;
}

.centrar{
    width: 90%;
    height: 100%;
    max-width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;  
    background-color: #A895C1; 
    border: 3px solid;
    border-radius: 15%;
    padding: 25px;
}

.datos {
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*----------------------------------HomeView.php------------------------------*/
h1.home{
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

img.homeim{
    border: black 1px solid;
    max-width: 900px;
    width: 100%;
    margin-bottom: 40px;;
}

/*----------------------------------editView.php------------------------------*/
div.formEdit{
    margin-bottom: 50px;
}